/* Your code here */

.interests-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr 0.75fr;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  margin-top: 10px;
  padding: 15px;
  font-size: 12px;
}
.interests-bar__stock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 15px;
}
.interests-bar__stock-price {
  border-bottom: 1px solid #e2e2e2;
  padding-top: 10px;
  font-weight: bold;
}

.interests-bar__big-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.interests-bar__image {
  box-sizing: border-box;
  height: auto;
  padding: 18px;
}
.interests-bar__price {
  padding-left: 50px;
  color: rgb(12, 159, 12);
  font-weight: bolder;
}
